
<h3>Смартфоны</h3>

<table>
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
</table>

<a id="" class="register-form-input-button" type="submit" asp-controller="Home" asp-action="Index">Войти</a>
<form method="post">
    <div class="select">
        <select name="First" id="months" >
            <option value="грн">грн</option>
            <option value="долл">долл</option>
            <option value="юань">юань</option>

        </select>
        <select name="Second" id="second" >
            <option value="грн">грн</option>
            <option value="долл">долл</option>
            <option value="юань">юань</option>

        </select>
        <p>
            <label for="genre">Genre:</label>
            <input type="text" name="genre" value="" />
    </div>
</form>

@foreach (var item in Model)
{
    <div>@item</div>
}

